.vk_txt {
	font-size: small !important;
	font-weight: lighter !important;
}
div {
	display: block;
}
.vk_gy {
	color: #878787 !important;
}
.vk_bk {
	color: #212121 !important;
}
.lr_sns_ovo_hl_gn {
	font-size: 20px;
}
li.g, body, html, .std, h1 {
	font-size: small;
	font-family: arial,sans-serif;
}
.lr_sns_ovo_hhp {
	float: left;
	text-align: left;

	width: 40%;
}
.lr_sns_ovo_hl_v {
	font-size: 20px;
	text-align: center;
}
.lr_sns_ovo_hap {
	float: right;
	text-align: right;
	width: 40%;
}
.lr_sns_ovo_md_hl {
	margin-top: 20px;
	font-size: 13px;
}
